################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/packages
/.vs/Poepon.AbpCodeGenerator/v14
/.vs
/Poepon.AbpCodeGenerator.Core/bin/Release
/Poepon.AbpCodeGenerator.Core/obj/Release
/Poepon.AbpCodeGenerator.VSIX/bin/Release
/Poepon.AbpCodeGenerator.VSIX/obj/Release
